<h2>Borrowing</h2>
<form class="w-50 mx-auto" [formGroup]="borrowingForm" (submit)="$event.preventDefault();">

  <div class="form-group">
    <label for="borrowingStartDate">Borrowing StartDate</label>
    <input type="text" id="borrowingStartDate" class="form-control" placeholder="Borrowing StartDate" formControlName="borrowingStartDate">
    <div class="alert bg-danger" *ngIf="fields.borrowingStartDate.invalid && fields.borrowingStartDate.touched">
      <div *ngIf="fields.borrowingStartDate.errors.required">Borrowing StartDate Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="borrowingEndDate">Borrowing EndDate</label>
    <input type="text" id="borrowingEndDate" class="form-control" placeholder="Borrowing EndDate" formControlName="borrowingEndDate">
    <div class="alert bg-danger" *ngIf="fields.borrowingEndDate.invalid && fields.borrowingEndDate.touched">
      <div *ngIf="fields.borrowingEndDate.errors.required">Borrowing EndDate Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="CustomerId">CustomerId</label>
    <input type="text" id="customerId" class="form-control" placeholder="CustomerId" formControlName="customerId">
    <div class="alert bg-danger" *ngIf="fields.customerId.invalid && fields.customerId.touched">
      <div *ngIf="fields.customerId.errors.required">CustomerId Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="customerName">Customer Name</label>
    <input type="text" id="customerName" class="form-control" placeholder="Customer Name" formControlName="customerName">
    <div class="alert bg-danger" *ngIf="fields.customerName.invalid && fields.customerName.touched">
      <div *ngIf="fields.customerName.errors.required">Customer Name Required</div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-warning btn-lg w-50"
    [disabled]="borrowingForm.invalid"
    (click)="doBorrowing()">
    Borrowing
  </button>

</form>
