<form class="w-50 mx-auto" [formGroup]="bookForm" (submit)="$event.preventDefault();">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" placeholder="Title" formControlName="title">
    <div class="alert bg-danger" *ngIf="fields.title.invalid && fields.title.touched">
      <div *ngIf="fields.title.errors.required">Title Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="subtitle">Subtitle</label>
    <input type="text" id="subtitle" class="form-control" placeholder="Subtitle" formControlName="subtitle">
    <div class="alert bg-danger" *ngIf="fields.subtitle.invalid && fields.subtitle.touched">
      <div *ngIf="fields.subtitle.errors.required">Subtitle Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" class="form-control" placeholder="Description" formControlName="description">
  </div>

  <div class="form-group">
    <label for="thumbnailUrl">ThumbnailURL</label>
    <input type="text" id="thumbnailUrl" class="form-control" placeholder="ThumbnailURL" formControlName="thumbnailUrl">
    <div class="alert bg-danger" *ngIf="fields.thumbnailUrl.invalid && fields.thumbnailUrl.touched">
      <div *ngIf="fields.thumbnailUrl.errors.required">ThumbnailURL Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="pageCount">PageCount</label>
    <input type="number" id="pageCount" class="form-control" placeholder="PageCount" formControlName="pageCount">
    <div class="alert bg-danger" *ngIf="fields.pageCount.invalid && fields.pageCount.touched">
      <div *ngIf="fields.pageCount.errors.required">PageCount Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="inventoryCount">inventoryCount</label>
    <input type="number" id="inventoryCount" class="form-control" placeholder="inventoryCount" formControlName="inventoryCount">
    <div class="alert bg-danger" *ngIf="fields.inventoryCount.invalid && fields.inventoryCount.touched">
      <div *ngIf="fields.inventoryCount.errors.required">inventoryCount Required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="unitPrice">UnitPrice</label>
    <input type="number" id="unitPrice" class="form-control" placeholder="UnitPrice" formControlName="unitPrice">
    <div class="alert bg-danger" *ngIf="fields.unitPrice.invalid && fields.unitPrice.touched">
      <div *ngIf="fields.unitPrice.errors.required">UnitPrice Required</div>
    </div>
  </div>

  <label for="birthDate">Published Date</label>
  <div class="form-group d-flex justify-content-between">
    <select class="w-25 custom-select" formControlName="day">
      <option value="">Day</option>
      <option *ngFor="let day of days" [value]="day">
        {{day}}
      </option>
    </select>
    <select class="w-25 custom-select" formControlName="month">
      <option value="">Month</option>
      <option *ngFor="let month of months" [value]="month[0]">
        {{month[1]}}
      </option>
    </select>
    <select class="w-25 custom-select" formControlName="year">
      <option value="">Year</option>
      <option *ngFor="let year of years" [value]="year">
        {{year}}
      </option>
    </select>
  </div>
  <input type="hidden" formControlName="publishedDate" [value]="fields.publishedDate">
  <div class="alert bg-danger" *ngIf="fields.publishedDate.invalid && fields.publishedDate.touched">Invalid Date ...</div>

  <button *ngIf="!readonly"
    type="button"
    class="btn btn-warning btn-lg w-50"
    [disabled]="bookForm.invalid"
    (click)="save()">
    Save Book
  </button>

</form>
